<header>
    <h1>Yu7rnxrfbtdsjtn7</h1>
    <h2>The best test there&#39;s ever been</h2>
</header>

<section id="downloads" class="clearfix">
    <a href="https://github.com/qrqAeM978grP255a/YU7RNXrfbTDSJtn7/releases/latest" id="download-binary" class="button"><span>Download binary</span></a>
    <a href="https://github.com/qrqAeM978grP255a/YU7RNXrfbTDSJtn7/zipball/master" id="download-zip" class="button"><span>Download .zip</span></a>
    <a href="https://github.com/qrqAeM978grP255a/YU7RNXrfbTDSJtn7/tarball/master" id="download-tar-gz" class="button"><span>Download .tar.gz</span></a>
    <br />
    <a href="https://github.com/qrqAeM978grP255a/YU7RNXrfbTDSJtn7" id="view-on-github" class="button"><span>View on GitHub</span></a>
</section>

<hr>
